\src\intermediate\antlr4
\build-out
Pcl_P2/src/intermediate/antlr4/
\out
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
# Out folder where IntelliJ compiles classes
out/

### Build Tools (if using Maven or Gradle alongside IntelliJ) ###
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

### OS & System Files ###
.DS_Store
Thumbs.db

